
html, body{
    width: 560px;
    min-width: 560px;
    margin: auto;
    height: auto;
    min-height: 410px;

}

body {
    background: #deddf0 ;
    color: #292120;
    border: 2px dashed #819ea0;
}

h1 {
    text-align: center;
}

.result{

}

.inner_result{
    width: max-content;
    margin: auto;
    padding: 20px;
    text-align: left;
}

.my_form {
    width: 400px;
    padding: 10px;
    margin: auto;
}